// landing.scss

.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
  
    // Espaçamento geral entre seções
    section {
      padding: 4rem 2rem;
    }
  }
  