.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  border: 1px solid #707070;
  background: #262525 0% 0% no-repeat padding-box;
  color: #fff;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

    span {
      color: #0072D8;
    }
  }

  &__content {
    flex: 1 1 500px;

    p {
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.5;
    }

    ul {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.8rem;

      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.95rem;

        svg {
          color: #0072D8;
        }
      }
    }
  }

  &__image {
    position: relative;
    flex: 1 1 300px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
      object-fit: cover;
      object-position: center;
    }

    .about__badge {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #0072D8;
      color: white;
      padding: 0.8rem;
      border-radius: 0.8rem;
      text-align: center;
      max-width: 100%;
      font-size: 0.8rem;
      z-index: 10;

      strong {
        display: block;
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}

// Responsividade
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__content,
    &__image {
      flex: 1 1 100%;
      max-width: 100%;
    }

    &__content ul {
      grid-template-columns: 1fr;
    }
  }

  .about__image {
    .about__badge {
      padding: 0.5rem;
      font-size: 0.75rem;

      strong {
        font-size: 1.1rem;
      }
    }
  }
}
